.sidepanel {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.sidepanel img {
    width: 10rem;
    margin-bottom: 24px;
}

.sidepanel span {
    display: flex;
    margin: 1rem 1rem 1rem 0;
    flex: 5;
}
