/* .navbar {
    display: flex;
    background-color: lightseagreen;
    border-bottom: 2px solid green;
    height: 4rem;
    padding: 0.5rem;
}

.navbar span {
    text-align: center;
}

.profile img {
    width: 3rem;
    border-radius: 50%;
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
}

img {
    width: 2rem;
} */
