.CourseExp {
    width: 75%;
    border-color: brown;
    border-radius: 10px;
    background-color: white;
}

.Calender {
    width: 25%;
    border-color: brown;
    border-radius: 10px;
    background-color: white;
}