.addicon {
    border-radius: 50%;
    cursor: pointer;
}
.count {
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #0d6efd;
    color: white;
}